body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: lurl("./assets/fonts/Agustina.woff") format("woff"); */
}
@font-face {
  font-family: "Agustina Regular";
  src: url("./assets/fonts/Agustina.woff") format("woff");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Agustina Regular", monospace;
}
